/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #A7C7E7; /* Soft Blue */
    --secondary-color: #B7E4C7; /* Gentle Green */
    --background-color: #F5F5F5; /* Off-White */
    --accent-color: #E6E6FA; /* Lavender */
    --text-color: #333333; /* Dark Gray */
}

/* For Body Use LATO Font */
/* For Headings Use MONTSERRAT Font */

/* General Styles */
body{
    font-family: lato;
}
h1, h2, h3, h4, h5, h6 {
    font-family: montserrat;
}

/* Navbar Styles */
.navbar-brand {
    font-size: 2rem;    /* Increase text size */
    font-weight: 700;   /* Make it bolder */
    letter-spacing: 1px; /* Add spacing between letters */
}
.nav-item {
    font-size: 1rem; /* Increase text size */
    font-weight: 900; /* Make it bolder */
}
